@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
    margin: 0;
    padding: 0;
    font-family: Raleway;
}

body {
  background: no-repeat fixed;
  background-size: cover;
  max-width: 100%;
    background-color: darkred;
}
#wrapper, #picture, #feed {
    width: 1400px;
    margin: 0 auto;
    background-color: white;
    
}

#wrapper {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#picture {
    padding-top:  100px;
    padding-bottom: 1000px;
}

#feed {
    padding-top:  50px;
    padding-bottom: 50px;
}
header nav {
    margin: 0 auto;
    width: 100%;
    /*padding: 20px 0px 20px 0px;*/
    display: table;
    background-color: white;
    
}

header nav ul {
    list-style: none;
    display: table-row;
}

header nav ul li {
    width: 25%;
    display: table-cell;
    text-align: center;
    font-size: 1.675em;
}
img.logo {
    display: block;
    width: 300px;
    background-color: white;
    display: table-cell;
    display: table;
}
img.map {
    display: block;
    margin: auto;
}
section#reset_submit {
    width: 100%;
}
input {
    width:100%;   
}
textarea {
    width: 100%;
}



