* {
    margin: 0;
    padding: 0;
}

body {
  background: no-repeat fixed;
  background-size: cover;
  max-width: 100%;
}
#wrapper, #picture, #feed {
    width: 1080px;
    margin: 0 auto;
    
}
header nav {
    position: relative;
    z-index: 30;
    margin: 0 auto;
    width: 100%;
    padding: 20px 0px 20px 0px;
    display: table;
}

header nav ul {
    list-style: none;
    display: table-row;
}

header nav ul li {
    display: table-cell;
    margin:  0px;
}
img.logo {
    display: block;
    width: 250px;
    margin:0px auto;
    
}


