@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
    margin: 0;
    padding: 0;
    font-family: Raleway;
}

body {
  background: no-repeat fixed;
  background-size: cover;
  max-width: 100%;
  background-color: rgba(155, 20, 20, 1);
}

#wrapper {
    width: 80%; 
    margin: 0 auto;
    
}

#picture {
    width: auto;
    background-color: rgba(0, 0, 0, .3);
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

header nav {
    margin: 0 auto;
    width: 100%;
    /*padding: 20px 0px 20px 0px;*/
    display: table;
    background-color: rgba(255, 255, 255, 1)
    
}

header nav ul {
    list-style: none;
    display: inline-table;
}

/*Drop down begin*/
ul li ul {
    display: none;
    transition: 2s;
}
nav ul ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    transition: 2s;
}
ul ul li {
    float:none;
    width: 200px;
    transition: 2s;
}
ul ul a {
    line-height: 120%;
    padding: 10px;
    transition: 2s;
    
}
ul li a {
    text-decoration: none;
    display: block;
    transition: 2s;
}
ul li a:hover {
    transition: 2s;
}
ul li:hover>ul {
    display: block;
    transition: 2s;
}
li:hover li {
    float: none;
    transition: 2s;
}
ul li:hover{
    transition: 2s;
    background-color: white;

}
li:hover li a:hover {
    transition: 2s
    
}
nav li ul li {
    transition:2s;
   
}

/*Drop down end*/
header nav ul li {
    width: 25%;
    display: table-cell;
    text-align: center;
    font-size: 1.675em;
    position: relative;
}

header nav ul li a{
    color: black;
    text-decoration: none;
}

nav li:hover a {
  color: darkred;
  text-decoration: none;
  transition: 0.5s;
}

img.logo {
    display: block;
    width: 300px;
    background-color: white;
    display: table-cell;
    display: table;
}
img.map {
    display: block;
    margin: auto;
}
#title {
    background-color: white;
    width: 25%;
    margin: 0 auto;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}
h1 {
    text-align: center;
    font-size: 2em;
}

#feed {
    background-color: rgba(0, 0, 0, .3);
    margin: 0 auto;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
#feedbox {
    background-color: white;
    width: 95%;
    margin: 0 auto;  
}
#feedbox>h1 {
    font-size: 3em;
    padding:15px 15px 0px 15px;
}

section#post {
    margin: 10px;
    border-style: groove;
}
section#post>p.title {
    text-align: left;
}
section#post p{
    padding: 10px;
    text-align: right;
}
p.title {
    font-size: 1.5em;
    font-weight: bold;
}

#par {
    background-color: white;
    width: 95%;
    margin: 0 auto;  
    font-size: 1.5em;
    text-align: center;
}
