@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway);

fieldset {
  border: solid 1px #a1a1a1;
  margin-bottom: 5px;
}
.inputitem{
  display: block;
  float: left;
}
.labelitem{
  display: block;
  float: left;
  vertical-align: text-top;
  width: 120px;
  margin: 2px;
}
br{
  clear: left;
}

#wrapper {
    background-color: white;
    width: 720px;
}

input[type=submit] {
    display: block;
    width: 64px;
}